h1 {
    font-family: Geneva, Tahoma, sans-serif;
    text-align: center;
}

h2 {
    font-family: Geneva, Tahoma, sans-serif;
    text-align: center;
}

h3 {
    font-family: Geneva, Tahoma, sans-serif;
    color: rgb(117, 46, 46);
}

h4 {
    font-family: Geneva, Tahoma, sans-serif;
    text-align: center;
}

h3:first-of-type {
    margin-top: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: antiquewhite;
    margin: 0;
}

footer {
    text-align: center;
}

.recipe-list {
    margin: 15px auto;
    padding: 20px;
}

div[class='recipe'] {
    display: block;
    margin: auto;
    background-color: pink;
    padding: 20px;
    width: 50vw;
    border-radius: 9px;
}

div[class='recipe-list-index'] {
    display: block;
    margin: auto;
    background-color: pink;
    padding: 20px;
    width: 15vw;
    border-radius: 9px;
}

div[class='image-intro'] {
    text-align: center;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 1px;
    background-color: rgb(157, 60, 92);
    width: 1070px;
    border-radius: 10px;
}

div[class='image-intro'] > img {
    border-radius: 10px;
}

div[class='image-intro'] > p {
    width: 80%;
    margin: 10px auto;
}

div[class='header'] {
    background-color: pink;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    border-bottom: 10px solid bisque;
}

.recipe-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 1640px;
    padding: 20px 10px;
    margin: 0 auto;
}

.recipe-gallery-content {
   position: relative;
}

.recipe-gallery img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 50px;
    border: 9px solid pink;
}

.recipe-gallery::after {
    content: '';
    width: 100%;
    max-width: 350px;
    border: 9px solid rgba(0,0,0,0);
}

.image-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(255, 192, 203,.75);
    border-radius: 50px;
    pointer-events: none;
}

.image-click {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .1s ease;
    background-color: rgba(151, 15, 38, 0.75);
    border-radius: 50px;
    pointer-events: none;
}

.image-overlay-text {
    margin: auto;
    padding: 120px 0px;
    color: black;
    visibility: hidden;
}

.recipe-gallery-content:hover .image-overlay {
    opacity: 1;
}

.recipe-gallery-content:active .image-click {
    opacity: 1;
}

.recipe-gallery-name {
    text-align: center;
}

.checking {
    position: relative;
    padding-left: 0px;
    margin-bottom: 0px;
    cursor: pointer;
}

input[type='checkbox'] {
    visibility: hidden;
}

.new-checkbox {
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    height: 14px;
    width: 14px;
    background-color: white;
}

.checking:hover input ~ .new-checkbox {
    background-color: rgb(255, 214, 214);
}

.checking input:active ~ .new-checkbox {
    background-color: rgb(117, 46, 46);
}

.checking input:checked ~ .new-checkbox {
    background-color: rgb(157, 60, 92);
}

.new-checkbox:after {
    content: "";
    position: absolute;
    display: none;
}
  
.checking input:checked ~ .new-checkbox:after {
    display: block;
}
  
.checking .new-checkbox:after {
    left: 2px;
    bottom: 3px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 4px 4px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

a {
    color: rgb(237, 143, 159);
}

a:visited {
    color: rgb(157, 60, 92);
}
a:hover {
    color: rgb(255, 214, 214);
}

a:active {
    color: rgb(117, 46, 46);
}

a[class='header'] {
    color:black;
    text-decoration-line: none;
}

a[class='featured']:visited {
    color:rgb(71, 0, 59);
}

a[class='featured']:hover {
    color:rgb(255, 214, 214);
}

a[class='featured']:active {
    color:rgb(48, 17, 17);
}

